@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.navbar {
    background-color: #E8ecec;
    z-index: 99;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

h1 {
    font-size: 10;
    margin: 0;
    padding: 10;
    left: 200pt;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}

.navbar-nav>li {
    padding-left: 25px;
}

.navbar-nav .login-nav {
    padding-left: 60px;
}

.nav-link {
    color: #454545;
}

.navbar-brand {
    color: #454545;
}